<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187235453664-d35tvgnqq11d084s0pl50pcpjbj1htad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187235453664-d35tvgnqq11d084s0pl50pcpjbj1htad</string>
	<key>API_KEY</key>
	<string>AIzaSyCq6LDYOwAtiQuqoY9WmvKckHhJkr2ScnI</string>
	<key>GCM_SENDER_ID</key>
	<string>187235453664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.billingSampleApp</string>
	<key>PROJECT_ID</key>
	<string>billing-sample-app</string>
	<key>STORAGE_BUCKET</key>
	<string>billing-sample-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187235453664:ios:22e836288ac57e2dc15e85</string>
</dict>
</plist>